iaas-configuration:
  vcenter_host: "{{ vcenter_host_ip }}"
  vcenter_username: "{{ vcenter_user }}"
  vcenter_password: "{{ vcenter_pwd }}"
  datacenter: "{{ vcenter_datacenter }}"
  disk_type: "{{ bosh_vm_disk_type }}"
  ephemeral_datastores_string: "{{ ephemeral_datastore }}"
  persistent_datastores_string: "{{ persistent_datastore }}"
  ssl_verification_enabled: "{{ ssl_enabled }}"
  nsx_networking_enabled: "{{ nsx_networking_enabled }}"
  nsx_mode: "{{ nsx_mode }}"
  nsx_address: "{{ nsx_manager_ip }}"  
  nsx_username: "admin"
  nsx_password: "{{ nsx_password }}"
  bosh_vm_folder: "{{ bosh_vm_folder }}"
  bosh_template_folder: "{{ bosh_template_folder }}"
  bosh_disk_path: "{{ bosh_disk_path }}"
director-configuration:
  ntp_servers_string: "{{ ntp_servers }}"
  resurrector_enabled: "true"
  post_deploy_enabled: "true"
  bosh_recreate_on_next_deploy: "true"
az-configuration:
  - name: "{{ az_name }}"
    cluster: "{{ az_cluster }}"
    resource_pool: "{{ az_pool }}"
networks-configuration:
  icmp_checks_enabled: "{{ icmp_checks_enabled }}"
  networks:
  - name: "{{ network_name }}"
    service_network: "{{ service_network }}"
    subnets:
    - iaas_identifier: "{{ iaas_identifier }}"
      cidr: "{{ cidr }}"
      reserved_ip_ranges: "{{ reserved_ips }}"
      dns: "{{ dns }}"
      gateway: "{{ gateway }}"
      availability_zone_names:
      - "{{ az_name }}"
network-assignment:
  singleton_availability_zone:
    name: "{{ az_name }}"
  network:
    name: "{{ network_name }}"